<h1 class="text-center mb-5">Enter your server data</h1>
<%= render 'step_card', locals: {
  number: 1,
  title: 'Make an account (optional)',
  instructions: 'Make an account to claim your servers on the leaderboard and get
          access to tools for tracking your server emission stats more easily.',
  }
%>
<%= render 'step_card', locals: {
  number: 2,
  title: 'Download the Carbon Client',
  instructions: 'The Carbon Client is a BASH script which collects the required data for adding entries to the Carbon Leaderboard.',
}
%>
