<div class="card login flex-column-centred">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="icon-wrapper email-field">
      <%= f.email_field :email, class: 'text-field', placeholder: 'Email', maxlength: '40' %>
    </div>

    <div id='user_submit' class="general-button glaring">Send me reset password instructions</div>

    <%= render "devise/shared/links" %>
  <% end %>
</div>

<script type="text/javascript" src="/assets/devise/passwords/new.js"></script>
