<h1 id="welcome">Making HPC Greener</h1>

<h2><a href="/show-devices">Click here to view the list of recorded devices</a></h2>

<canvas id="dynamic-bg"></canvas>
<script type="text/javascript" src="assets/index.js"></script>
