<h1>Recorded Devices</h1>

<style>
table, th, td {
  border:1px solid black;
}
td {
	text-align: center;
}
</style>

<table style="width:100%" align="right">
  <tr>
    <th>Device UUID</th>
    <th>Owner</th>
  </tr>
	<% @devices.each do |device| %>
	  <tr>
	    <td><%= device.device_uuid %></td>
			<td><%= device.name %></td>
		</tr>
	<% end %>
</table>
