<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'leaderboard' %>
<% end %>

<div id="leaderboard-wrapper">
  <div class="leaderboard-row leaderboard-header">
    <div class="leaderboard-header rank-column">
      <!-- Rank -->
    </div>
    <div class="leaderboard-header bar-column">
      <div class="leaderboard-header model-column">Model</div>
      <div class="leaderboard-header owner-column">Owner</div>
      <div class="leaderboard-header location-column">Location</div>
      <div class="leaderboard-header coreno-column">No. cores</div>
    </div>
    <div class="leaderboard-header value-column">Equivalent CO2 emissions per core at full load (kg/h)</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">1</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column cloud-owner">Alces Cloud</div>
        <div class="leaderboard-item location-column">Bicester, UK</div>
        <div class="leaderboard-item coreno-column">8</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.2</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">2</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column premise-owner">Some University</div>
        <div class="leaderboard-item location-column">London, UK</div>
        <div class="leaderboard-item coreno-column">10</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.21</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">3</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column premise-owner">On Premise</div>
        <div class="leaderboard-item location-column">Manchester, UK</div>
        <div class="leaderboard-item coreno-column">8</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.25</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">4</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column cloud-owner">AWS</div>
        <div class="leaderboard-item location-column">Los Angeles, US</div>
        <div class="leaderboard-item coreno-column">12</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.27</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">5</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column cloud-owner">AWS</div>
        <div class="leaderboard-item location-column">Frankfurt, DE</div>
        <div class="leaderboard-item coreno-column">4</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.36</div>
  </div>
  <div class="leaderboard-row leaderboard-item">
    <div class="leaderboard-item glare"></div>
    <div class="leaderboard-item rank-column">6</div>
    <div class="leaderboard-item bar-column">
      <div class="leaderboard-item bar-data">
        <div class="leaderboard-item model-column">Model Name</div>
        <div class="leaderboard-item owner-column premise-owner">On Premise</div>
        <div class="leaderboard-item location-column">Singapore, SG</div>
        <div class="leaderboard-item coreno-column">8</div>
      </div>
    </div>
    <div class="leaderboard-item value-column">0.41</div>
  </div>
</div>

<script type="text/javascript" src="/assets/report/index.js"></script>