<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'leaderboard' %>
<% end %>

<div id="leaderboard-wrapper">
  <div class="leaderboard-row leaderboard-header">
    <div class="leaderboard-header rank-column">
      <!-- Rank -->
    </div>
    <div id="leaderboard-bar-header-wrapper" class="leaderboard-header bar-column">
    </div>
    <div id="leaderboard-bar-value-wrapper" class="leaderboard-header value-column">Equivalent CO2 emissions per core at full load (kg/h)</div>
  </div>
</div>

<script type="text/javascript" src="/assets/report/index.js"></script>
