<h1>OpenFlight Carbon Leaderboard</h1>
<h3 class="light-text">Servers with the lowest CO<sub>2</sub> emissions</h3>

<div class="leaderboard-wrapper full-leaderboard">
  <div class="leaderboard-header-wrapper blurred-frame rounded-shape white-outline">
    <div class="leaderboard-header rank-column">
      <!-- Rank -->
    </div>
    <div id="leaderboard-bar-header-wrapper" class="leaderboard-header bar-column">
    </div>
    <div id="leaderboard-bar-value-wrapper" class="leaderboard-header value-column"></div>
  </div>
  <div class="leaderboard-content-wrapper"></div>
</div>

<script type="text/javascript" src="/assets/report/index.js"></script>
<script type="text/javascript" src="/assets/report/glare.js"></script>
