<h1 class="mb-5 pb-1"><%= @user.username %></h1>

<% if @user_owns_profile %>
  <p>
    Here's your secret Auth token:
  </p>
  <p class="mb-5">
    <code class="code-block"><%= @user.auth_token %></code>
  </p>
<% end %>

<% unless @devices.empty? %>
  <h4 class="mb-4"><%= @user_owns_profile ? 'My' : "#{@user.username}'s" %> nodes</h4>

  <% @devices.each do |device| %>
    <p>
      <%= link_to device.display_name, "/device/#{device.display_name}" %>
    </p>
  <% end %>
<% end %>



