/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "navbar.css";
@import "forms.css";

:root {
    --color-text: #586674;
    --color-main: #2794d8;
    --color-section: #ffffffa0;

    --gradient-blue-green: linear-gradient(to right, var(--color-main), #00D12E);
    --gradient-matrix: linear-gradient(to right, #00D12E, #AADB12, #F0CC3D, #F39C1D, #F5720A);

    --navbar-height: 5rem;
    --navbar-padding: 0.5rem;
}

@font-face {
  font-family: 'Lexend';
  font-weight: 300 800;
  src: url("lexend.ttf");
}

@media screen and (max-device-width: 2879px) {
    :root {
        --fpx: 1px;
    }
}

@media screen and (min-device-width: 2880px) and (max-device-width: 3839px) {
    :root {
        --fpx: 1.1px;
    }
}

@media screen and (min-device-width: 3840px) {
    :root {
        --fpx: 1.2px;
    }
}

body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    font-family: 'Lexend';
    font-weight: 300;
    color: var(--color-text);
}

#main {
    margin-top: var(--navbar-height);
}

h1, h2 {
    font-weight: 800;
    background-color: var(--color-main);
    background: var(--gradient-blue-green);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    margin-top: 0;
    margin-bottom: 3rem;
}

.flex-column-centred {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    padding: 4rem 3rem;
    border: solid 1px var(--color-main);
    border-radius: 0;
}

a {
    color: var(--color-main);
}

.muted-text {
    color: var(--color-text);
}

#dynamic-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(calc(240 * var(--fpx))) saturate(2.1);
    z-index: -1;
}
