/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
    --color-main: #2794d8;

    --gradient-blue-green: linear-gradient(to right, var(--color-main), #00D12E);
    --gradient-matrix: linear-gradient(to right, #00D12E, #AADB12, #F0CC3D, #F39C1D, #F5720A);

    --navbar-height: 5rem;
}

@font-face {
  font-family: 'Lexend';
  src: url("/assets/lexend.ttf");
}

@media screen and (max-device-width: 2879px) {

    :root {

        --fpx: 1px;

    }

}

@media screen and (min-device-width: 2880px) and (max-device-width: 3839px) {

    :root {

        --fpx: 1.1px;

    }

}

@media screen and (min-device-width: 3840px) {

    :root {

        --fpx: 1.2px;

    }

}

body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    font-family: 'Lexend';
}

#nav-bar {
    position: fixed;
    padding: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
}

#nav-bar .logo {
    height: 100%;
}

#dynamic-bg {
    position: fixed;
    top: 40%;
    left: 0;
    width: 100%;
    height: 60%;
    filter: blur(calc(120 * var(--fpx))) saturate(3.6);
}

#main {
    margin-top: var(--navbar-height);
}
