.server-page.flag {
    margin-left: 1rem;
}

.device-type-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.device-type-wrapper img {
    max-width: 8rem;
    max-height: 6rem;
}

.device-type-wrapper h4 {
    margin-bottom: 0;
}

.device-specs-wrapper {
    gap: 2rem;
}

.device-specs-grid {
    display: grid;
    grid-template-areas:
        "cpu ram"
        "gpu storage";
    gap: 4rem;
    margin-inline: 2rem;
}

.device-specs-grid .cpu {
    grid-area: cpu;
}
.device-specs-grid .gpu {
    grid-area: gpu;
}
.device-specs-grid .ram {
    grid-area: ram;
}
.device-specs-grid .storage {
    grid-area: storage;
}

.specs-rank-section {
    display: flex;
    gap: 1.5rem;
}
.specs-rank-section > div {
    flex-grow: 1;
}

.emissions-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}
.emission-number {
    font-weight: 600;
    color: var(--color-main);
    font-size: 2rem;
}

.server-list-card, .rankings-card {
    min-width: 25rem;
    max-width: 32rem;
}
.server-list-wrapper {
    max-height: calc(400 * var(--fpx));
    overflow-y: scroll;
}
.server-in-list {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-wrap: nowrap;
}
.server-in-list:hover {
    color: var(--color-main);
}
