.device-type-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.device-type-wrapper img {
    max-width: 7rem;
}

.device-specs-wrapper {
    gap: 2rem;
}
