.server-page.flag {
    margin-left: 1rem;
}

.device-type-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.device-type-wrapper img {
    max-width: 8rem;
}

.device-type-wrapper h4 {
    margin-bottom: 0;
}

.device-specs-wrapper {
    gap: 2rem;
}

.device-specs-grid {
    display: grid;
    grid-template-areas:
        "cpu ram"
        "gpu storage";
    gap: 4rem;
    margin-inline: 2rem;
}

.device-specs-grid .cpu {
    grid-area: cpu;
}
.device-specs-grid .gpu {
    grid-area: gpu;
}
.device-specs-grid .ram {
    grid-area: ram;
}
.device-specs-grid .storage {
    grid-area: storage;
}
