.emissions-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
}

.emission-wrapper {
    padding: 2rem;
    font-size: 1.4rem;
}

.emission-number {
    font-weight: 600;
    color: var(--color-main);
    font-size: 2.2rem;
}
.big-icon {
    font-size: 6rem;
    color: var(--color-main);
}

.driving-wrapper {
    display: flex;
    gap: 0.7rem;
}
.driving {
    text-align: end;
    flex-grow: 1;
    line-height: 1.6rem;
}
.miles {
    line-height: 2.2rem;
}

.flight-wrapper .people span {
    line-height: 1rem;
}
.people-plane {
    display: flex;
    gap: 1rem;
}
.plane-icon {
    transform: rotate(-45deg);
}

.burger-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.big-mac-wrapper {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    line-height: 1.6rem;
}
.burger-wrapper .emission-number {
    line-height: 2.4rem;
}
.burger-wrapper .mcplant {
    text-align: center;
}
