.login.card {
    width: 40rem;
}

.login.card form {
    width: 80%;
}

.grid-field {
    display: grid;
    grid-template-rows: 3fr 4fr;
    margin-bottom: 2rem;
}

.grid-field input {
    padding: 0.5rem;
    border: solid 1px var(--color-main);
}

input:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #2794d811;
}

input[type="checkbox"] {
    margin-right: 0.7rem;
    position: relative;
    top: -1px;
}

.login-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.login-links a {
    text-decoration: none;
}

.submit-button {
    margin-top: 3rem;
}
