.login.card {
    width: 40rem;
}

.login.card form {
    width: 80%;
}

.grid-field {
    display: grid;
    grid-template-rows: 3fr 4fr;
    margin-bottom: 2rem;
}

input {
    position: relative;
    padding: 0.5rem;
    border: solid 1px var(--color-main);
    outline: none;
    background: transparent;
}

input:autofill {
    background-clip: text !important;
    background: transparent;
}

input[type="checkbox"] {
    margin-right: 0.7rem;
    position: relative;
    top: -1px;
}

.login-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.login-links a {
    text-decoration: none;
}

.submit-button {
    margin-top: 3rem;
}


