.login.card {
    width: 40rem;
}

.login.card form {
    width: 20rem;
    display: grid;
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 3rem;
}

.login.card form .icon-wrapper {
    position: relative;
    width: 18rem;
}

.login.card form .field {
    position: relative;
    width: max-content;
}

input[type="checkbox"] {
    margin-right: 0.7rem;
    position: relative;
}

.login.card form input[type="submit"] {
    font-weight: unset;
}

.icon-wrapper.user-field,
.icon-wrapper.username-field {
    --icon-image: url(/assets/ico/user.png);
}

.icon-wrapper.email-field {
    --icon-image: url(/assets/ico/email.png);
}

.icon-wrapper.password-field {
    --icon-image: url(/assets/ico/password.png);
}
