#map-card {
    border: solid 1px var(--color-main);
}

#map-wrapper {
    height: 40rem;
    box-sizing: content-box;
}

.map.flag {
    outline: solid 6px var(--color-text);
    outline-offset: -1px;
    outline-style: double;
    display: inline-block;
}
