#nav-bar {
    position: fixed;
    padding: var(--navbar-padding);
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(calc(270 * var(--fpx)));
    -webkit-backdrop-filter: blur(calc(270 * var(--fpx)));

    user-select: none;

    z-index: 200;
}

#nav-bar .logo {
    height: calc(var(--navbar-height) - 2 * var(--navbar-padding));
    box-sizing: border-box;
}

#nav-bar .btn {
    border: none;
}

#nav-bar .dropdown-item:active {
    background-color: var(--color-main);
}

#nav-bar .section {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#nav-bar .top-left.section {
    gap: 0.7rem;
    font-weight: 750;
}

#nav-bar .centre.section {
    justify-content: center;
}

#nav-bar .top-right.section {
    justify-content: end;
}

#nav-bar .powered {
    display: flex;
    justify-content: end;
}

#nav-bar .powered .logo, #nav-bar .account.dropdown .logo {
    padding: 0.2rem;
}

.nav-link-wrapper {
    position: relative;
    height: calc(var(--navbar-height) - 2 * var(--navbar-padding));
    line-height: calc(var(--navbar-height) - 2 * var(--navbar-padding));
}

.dropdown-menu.dropdown-wrapper {
    display: block;
    top: calc(100% + var(--navbar-padding) - 1px);
    left: calc(50% - 96px);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(calc(270 * var(--fpx)));
    -webkit-backdrop-filter: blur(calc(270 * var(--fpx)));
}

.dropdown-wrapper {
    border-radius: 0 0 calc(9 * var(--fpx)) calc(9 * var(--fpx));
}